<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Probando HTML</H1>
    <p>Nombre= {{ nombre }} </p>
    <p>Apellido= {{ apellido }} </p>
    <p>Edad= {{ edad }} </p>
    <h4>Lista</h4>
    <ul>

        {% for nota in lista %}
            {% if nota > 7 %}
            <li> NOTA APROBADA: {{ nota }} </li>

             {% else %}
             <li> NOTA DESAPROBADA: {{nota}}  </li>
             {% endif %}
        {% endfor %}

    </ul>
</body>
</html>